<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>include-模板的包含</title>
	</head>
	<body>
		<script id='books' type="text/html">
			<li>
				<p></p>
				<img src="" alt="" />
				<blockquote></blockquote>
			</li>
		</script>
		
		<script id='website' type="text/html">
			<li>
				<a href=""></a>
				<blockquote></blockquote>
			</li>
		</script>
		
		<script id='template' type="text/html">
			{{if list.length <= 0}}
			
			<h4>没有推荐内容</h4>
			{{else}}
			<section>
				<ul>
				{{each list as value}}
					{{if value.type == 'book'}}
					  {{include 'books' value}}
					{{else}}
					{{include 'website' value}}
				{{/each}}
				</ul>
			</section>
			{{/if}}
		</script>
	<script type="text/javascript">
	
		var data = { 
			title:'推荐的书籍和网站',
			list:[
			{
				type:'book',
				name:'HTML5 CSS3权威指南',
				img:'http://d.hiphotos.baidu.com/baike/w%3D268%3Bg%3D0/sign=930ba54b54e736d158138b0ea36b28ff/728da9773912b31b9b5426be8618367adab4e169.jpg',
				description:'该书详尽地讲解了html 5和css 3的所有新功能和新特性；技术新颖，所有知识点都紧跟html 5与css 3的最新发展动态（html 5和css 3仍在不断完善之中）；实战性强（包含246个示例页面），不仅每个知识点都配有精心设计的小案例（便于动手实践），而且还有两个综合性的案例（体现用 html 5与css 3开发web应用的思维和方法）。本书不仅能满足你全面而系统地学习理论知识的需求，还能满足你需要充分实践的需求。[1] '
			
			},
			{
			type:'website',
				name:'MDN',
				url:'https://developer.mozilla.org/zh-CN/',
				description:'Mozilla 开发者网络(MDN)提供有关开放网络技术(Open Web)的信息,包括 HTML、CSS 和万维网及 HTML5 应用的 API。它还记录了 Mozilla 产品的文档,例如 Firefox '
			},
			{
			type:'website',
				name:'GitHub',
				url:'https://www.github.com',
				description:'Git是一个分布式的版本控制系统，最初由Linus Torvalds编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。目前，包括Rubinius、Merb和Bitcoin在内的很多知名项目都使用了Git。Git同样可以被诸如Capistrano和Vlad the Deployer这样的部署工具所使用。基... '
			}
			]
		}
		//把数据渲染到id为template模板
		var html = template('template',data)
		
		document.body.innerHTML = html
		</script>
	</body>
</html>
